.container {
  position: absolute;
  right: 12px;
  bottom: 6px;
}

.attach {
  display: flex;
  gap: 10px;
  padding: 5px 16px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.container .attach [class*="button"]  {
  padding: 0;
}
