@import './shared/styles/variables.css';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  background-color: var(--dark-900);
  color: var(--light-100);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

